.chat {
  background: #e2e2e2;
  color: #434651;
  scrollbar-width: thin;
}

.chatHeader {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 2%;
  border-bottom: 3px solid #fff;
}

.chat img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid #02ca23b9;
}

.chatAbout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.chatAboutText {
  margin-left: 2%;
}

.chatAbout i {
  float: right;
  color: #d8dadf;
  font-size: 20px;
}

.chatWith {
  font-size: 16px;
  font-weight: bold;
}

.chatNumMessages {
  color: #92959e;
}

.chatHistory {
  padding: 30px 30px 20px;
  border-bottom: 3px solid white;
  overflow-y: scroll;
  height: 575px;
}

.messageForm {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

textarea {
  font: 14px/22px "Lato", Arial, sans-serif;
  border: 1px solid #e2e2e2;
  padding: 10px 20px;
  border-radius: 5px;
  resize: none;
  width: 75%;
}

button {
  height: 100%;
  align-self: end;
  color: #94c2ed;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #e2e2e2;
}
button:hover {
  color: #49a1f3;
}
