.messageData {
  margin-bottom: 12px;
  font-size: 14px;
}

.messageDataTime {
  color: #92959e;
  margin-left: 6px;
}

.message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: fit-content;
  position: relative;
  background-color: #86bb71;
}

.message:after {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}
