.messageBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.messageData {
  margin-bottom: 12px;
  font-size: 14px;
}

.messageDataTime {
  color: #92959e;
  margin-right: 6px;
}

.message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: fit-content;
  position: relative;
  background-color: rgb(119, 193, 253);
}

.message:after {
  bottom: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgb(119, 193, 253);
  border-width: 10px;
  margin-left: -10px;
}

.messageBlock i {
  color: rgb(119, 193, 253);
  margin-left: 5px;
  font-size: 10px;
}
