.block {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img {
  width: 100%;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.author {
  margin: 10px;
}

.authorImg {
  width: 85%;
}
