.block {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header_img {
  width: 100%;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.author {
  margin: 10px;
}

.authorImg {
  position: relative;
  top: -120px;
  border: 7px solid #ffffff;
  border-radius: 50%;
  width: 200px;
}

@media (max-width: 1280px) {
  .authorImg {
    width: 150px;
    top: -95px;
  }
}

@media (max-width: 600px) {
  .authorImg {
    width: 100px;
    top: -70px;
  }
}
